<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>magit.webapp.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForkServlet</servlet-name>
        <servlet-class>magit.webapp.servlets.ForkServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationsInfoServlet</servlet-name>
        <servlet-class>magit.webapp.servlets.NotificationsInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RepositoriesInfoServlet</servlet-name>
        <servlet-class>magit.webapp.servlets.RepositoriesInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadXmlServlet</servlet-name>
        <servlet-class>magit.webapp.servlets.UploadXmlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>magit.webapp.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersInfoServlet</servlet-name>
        <servlet-class>magit.webapp.servlets.UsersInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivateRepoServlet</servlet-name>
        <servlet-class>magit.webapp.servlets.ActivateRepoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActiveRepoInfoServlet</servlet-name>
        <servlet-class>magit.webapp.servlets.ActiveRepoInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>magit.webapp.servlets.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HeadBranchCommitsServlet</servlet-name>
        <servlet-class>magit.webapp.servlets.HeadBranchCommitsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectedCommitFilesServlet</servlet-name>
        <servlet-class>magit.webapp.servlets.SelectedCommitFilesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommitServlet</servlet-name>
        <servlet-class>magit.webapp.servlets.CommitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewBranchServlet</servlet-name>
        <servlet-class>magit.webapp.servlets.NewBranchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PullServlet</servlet-name>
        <servlet-class>magit.webapp.servlets.PullServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PushServlet</servlet-name>
        <servlet-class>magit.webapp.servlets.PushServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PullRequestInfoServlet</servlet-name>
        <servlet-class>magit.webapp.servlets.PullRequestInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePullRequestServlet</servlet-name>
        <servlet-class>magit.webapp.servlets.CreatePullRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectServlet</servlet-name>
        <servlet-class>magit.webapp.servlets.RejectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptServlet</servlet-name>
        <servlet-class>magit.webapp.servlets.AcceptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPRServlet</servlet-name>
        <servlet-class>magit.webapp.servlets.ViewPRServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrInfoServlet</servlet-name>
        <servlet-class>magit.webapp.servlets.PrInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrChangesServlet</servlet-name>
        <servlet-class>magit.webapp.servlets.PrChangesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileContentServlet</servlet-name>
        <servlet-class>magit.webapp.servlets.FileContentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WCInfoServlet</servlet-name>
        <servlet-class>magit.webapp.servlets.WCInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WCFileContentServlet</servlet-name>
        <servlet-class>magit.webapp.servlets.WCFileContentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveFileContentServlet</servlet-name>
        <servlet-class>magit.webapp.servlets.SaveFileContentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFileServlet</servlet-name>
        <servlet-class>magit.webapp.servlets.DeleteFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateFileServlet</servlet-name>
        <servlet-class>magit.webapp.servlets.CreateFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/pages/signup/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForkServlet</servlet-name>
        <url-pattern>/fork</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationsInfoServlet</servlet-name>
        <url-pattern>/notificationsinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RepositoriesInfoServlet</servlet-name>
        <url-pattern>/repositoriesinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadXmlServlet</servlet-name>
        <url-pattern>/pages/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/pages/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersInfoServlet</servlet-name>
        <url-pattern>/usersinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivateRepoServlet</servlet-name>
        <url-pattern>/activaterepo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActiveRepoInfoServlet</servlet-name>
        <url-pattern>/activerepoinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HeadBranchCommitsServlet</servlet-name>
        <url-pattern>/headbranchcommits</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectedCommitFilesServlet</servlet-name>
        <url-pattern>/commitfiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommitServlet</servlet-name>
        <url-pattern>/commit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewBranchServlet</servlet-name>
        <url-pattern>/createbranch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PullServlet</servlet-name>
        <url-pattern>/pull</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PushServlet</servlet-name>
        <url-pattern>/push</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PullRequestInfoServlet</servlet-name>
        <url-pattern>/pullrequestsinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePullRequestServlet</servlet-name>
        <url-pattern>/createpullrequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectServlet</servlet-name>
        <url-pattern>/reject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptServlet</servlet-name>
        <url-pattern>/accept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPRServlet</servlet-name>
        <url-pattern>/pullrequestpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrInfoServlet</servlet-name>
        <url-pattern>/prinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrChangesServlet</servlet-name>
        <url-pattern>/prchanges</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileContentServlet</servlet-name>
        <url-pattern>/filecontent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WCInfoServlet</servlet-name>
        <url-pattern>/wc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WCFileContentServlet</servlet-name>
        <url-pattern>/wcfilecontent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveFileContentServlet</servlet-name>
        <url-pattern>/savefilecontent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFileServlet</servlet-name>
        <url-pattern>/deletefile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateFileServlet</servlet-name>
        <url-pattern>/createfile</url-pattern>
    </servlet-mapping>
</web-app>